<div class="home-footer">
  <a href="https://www.facebook.com/bzczweven/">
    <img src="/assets/img/facebook.png" width="32" height="32" class="d-inline-block align-top" alt="">
  </a>
  <a href="">
    <img src="/assets/img/instagram.png" width="32" height="32" class="d-inline-block align-top" alt="">
  </a>
  <a href="">
    <img src="/assets/img/youtube.png" width="32" height="32" class="d-inline-block align-top" alt="">
  </a>  
  <a href="">
    <img src="/assets/img/twitter.png" width="32" height="32" class="d-inline-block align-top" alt="">
  </a>  
</div>