---
layout: default
---
<img src="/assets/img/banner4.jpg" class="img-fluid" alt="">

<div class="container">
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<h1 class="my-4">{{ page.title }}</h1>
			<p class="post-date">
				{% assign m = page.date | date: "%-m" %}
				{{ page.date | date: "%-d" }}
				{% case m %}
				  {% when '1' %}Januari
				  {% when '2' %}Februari
				  {% when '3' %}Maart
				  {% when '4' %}April
				  {% when '5' %}Mei
				  {% when '6' %}Juni
				  {% when '7' %}Juli
				  {% when '8' %}Augustus
				  {% when '9' %}September
				  {% when '10' %}Oktober
				  {% when '11' %}November
				  {% when '12' %}December
				{% endcase %}
				{{ page.date | date: "%Y" }}
			</p>
	
			{{ content }}
		</div>
	</div>
</div>